@font-face {
    font-family: 'MyFont';
    src: url('./Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }

body {
    height: 100vh;
    margin: 0px;
    background-image: url('./embers.jpg');
    background-size: contain;
    font-family: 'MyFont';
}

h1 {
    font-size: 4vh;
    margin: 1vh;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
}

#mainElementHolder p {
    font-size: 1.5rem;
}

#header p {
    font-size: 1.5rem;
}

#content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0.750);
    color: white;
}

#tabholder {
    display: flex;
    justify-content: center;

}

#bodyDiv {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#mainElementHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
    background-color: rgba(0, 0, 0, 0.750);
    color: white;
    padding: 4vh;
}

#mainElementHolder img {
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    margin: 4vh;
}

#menuDiv {
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.750);
    gap: 2vh;
    padding: 2vh;
}

.dish {
    display: flex;
}

.dish div {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 2vh;
}

.dish img {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin: 2vh;
}

#contactsDiv {
    width: 70vh;
    height: 70vh;
    background-color: rgb(255, 0, 0);
}

#tabholder div {
    padding: 2vh;
    font-size: 1.5rem;
    width: 7vh;
    text-align: center;
}

.selectedTab {
    box-shadow: inset 0 -2px white
}