#content {
    display: flex;
    width: 100%;
    justify-content: center;
}

#header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}

#tabholder {
    display: flex;
    justify-content: center;

}